@model ASP.NET.ViewModel.Productviewsmodel;

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div>
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="KeyGame"></label>
                <input asp-for="KeyGame" class="form-control" />
                <span asp-validation-for="KeyGame" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Price"></label>
                <input asp-for="Price" type="number" min="0" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-dark mt-2">Submit</button>
        </form>
    </div>
</div>