@model IEnumerable<ASP.NET.Models.Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3 mb-4">
            <a href="@Url.Action("Detail", "Home", new { id = product.ProductID })" class="text-decoration-none text-dark">
                <div class="card border-dark">
                    <div class="card">
                        <img src="@Url.Content(product.Image)" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <h6 class="card-text">Price: @product.Price</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>