<div>Top Up</div>
<form asp-action="" asp-controller="TopUp" method="post">
    <input type="file" accept="image/*" class="form-control mt-2"/>
    <button type="submit" class="btn btn-dark mt-2">Submit</button>
</form>